/* ეს არი სურვილების სიაში დამატების ღილაკის სტილი */
.button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2980b9;
}

.button:active{
    background-color: #216fa3;
}

/* ეს შემოთავაზებული პროდუქტების ღილაკის სტილი */
.related-product button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.related-product button:hover {
    background-color: #2980b9;
}

.related-product button:active {
    background-color: #216fa3;
}

/* ეს მთავარი გვერდის ღილაკების */
.product-card .button {
    background-color: #3498db;
    color: #fff;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.product-card .button:hover {
    background-color: #2980b9;
}
  
.product-card .button:active {
    background-color: #216fa3;
}
