.button {
    background-color: #4aade0; /* Figma-ს ცისფერი */
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

.button:hover {
    background-color: #358dba;
}
