.button {
    background-color: #4AACE0 !important;
    color: white !important;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 15px;
}

.button:hover {
    background-color: #3598c4 !important;
}
