.button {
    background-color: #4AACE0; /* Figma-ს ცისფერი */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 0;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.85rem;
    transition: background 0.3s ease;
    display: block;
    text-decoration: none;
}

.button:hover {
    background-color: #358DBA;
}

.button:active {
    background-color: #216fa3;
}
