.button {
    background-color: #4AACE0 !important;
    color: #fff !important;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
}

.button:hover {
    background-color: #3598c4 !important;
}
