/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
  
body {
    line-height: 1.6;
    background-color: white;
    color: #333;
}
/* ნავბარი */
header {
    color: #fff;
    padding: 20px 0;
}

header .container {
    padding: 0 50px;
    width: 100%;
    height: 75px;
    background-color: #252525;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1000;

}
  
.logo a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
nav ul {
    list-style: none;
    display: flex;
}
  
nav ul li {
    margin: 10px 10px 20px 10px;
}

nav img {
    height: 15px;
    width: 15px;
}

  
nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover,
nav ul li a:active {
    color: #ffd700;
}

#icon {
    height: 37px;
    width: 37px;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px 20px;
    padding: 5px;
}

#icon:hover {
    /* background-color: #fcfeda; */
    transition: 0.3s;
}

.lang {
    font-size: 1.7rem;
    display: flex;
    margin-left: 20px;
    margin-bottom: 7px;
    /* padding: 5px; */
    position: relative;
}

.lang select {
    /* margin: 50px; */
    font-size: 1rem;
    border: none;
    width: 160px;
    border-radius: 8px;
    padding: 7px 10px;
    margin: 0;
    font-weight: bold;
}


/* ფუტერი */

footer {
    background-color: #252525;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
  
footer .social-media {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
footer .social-link {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
  
footer .social-link:hover {
    color: #ffd700;
}
  
footer .social-link .footer-img {
    width: 24px; 
    height: 24px; 
    margin-right: 10px; 
    transition: transform 0.3s;
}
  
footer .social-link:hover .footer-img {
    transform: scale(1.3); 
}
  
footer p {
    margin-top: 10px;
}

/* რესპონსივი */

  @media (max-width: 768px) {
    header .container {
        flex-direction: row; 
        height: auto; 
        padding: 5px 10px; 
    }

    nav {
        flex-direction: row; 
        align-items: center; 
        justify-content: flex-start; 
    }

    nav ul {
        flex-direction: row; 
        margin: 0; 
        padding: 0; 
    }

    nav ul li {
        margin: 0 5px; 
        margin-bottom: 10px;
    }

    .lang {
        font-size: 1.7rem; 
        margin-left: 5px; 
    }

    .lang select {
        display: none; 
        position: absolute; 
        top: 30px; 
        left: 0;
        border: none;
        z-index: 1;
        border-radius: 4px; 
        padding: 3px; 
        font-size: 0.8rem; 
    }

    .lang:hover select {
        display: block; 
    }
}