header, footer {
    background-color: #000 !important;
    color: #fff !important;
}

#nav-list {
    display: flex !important;
    gap: 20px;
    list-style: none;
}

#nav-list a {
    color: #fff !important;
    text-decoration: none;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
}
