html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* ფერები დარქ მოუდის და ისე */
:root {
    --foni-divis: #e4e4e4; 
    --foni: #e0e0e0;
    --textis-feri: black;
    --borderis-feri: #b3b2b2;
}

.dark-theme {
    --foni: black;
    --foni-divis: #333;
    --textis-feri: white;
    --borderis-feri: #333;
}

/* Main product page container */
.product-page { 
    background-color: var(--foni);
    display: flex;
    justify-content: space-between;
    padding: 70px 20px;
    margin: 0;
    /* margin: 100px 100px 100px 0; */
} 

/* Left Section*/
.product-image {
    height: 550px;
    width: 550px; 
    cursor: zoom-in;
}

.product-image:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.product-image img {
    width: 100%;
}

/* Middle Section (Product Info) */
.product-info {
    margin: 60px;
    flex: 2;
    padding: 20px;
}

.product-info h1 {
    color: var(--textis-feri);
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-info .price {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-bottom: 10px;
}

.product-info .weight {
    margin-bottom: 15px;
    color: var(--textis-feri);
}

.product-info label {
    display: block;
    color: var(--textis-feri);
    margin-bottom: 5px;
}

#aromas {
    background-color: var(--foni-divis);
    color: var(--textis-feri);
}

.product-info select {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
}

section p {
    font-size: 1rem;
    font-weight: bold;
}

.weight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.aroma {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    color: var(--textis-feri);
}

.product-price {
    color: red;
}

/* Right Section (Related Products - Aside) */
.related-products {
    margin-left: 75px;
    flex: 1;
    padding: 20px;
}

.related-product {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 8px;
    text-align: center;
    background-color: var(--foni-divis);
    border-radius: 5px;
    border: 1px solid var(--borderis-feri);

}

.related-product:hover {
    transition: 0.4s ease;
    opacity: 0.8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.related-product img {
    width: 125px;
    height: 125px;
    object-fit: cover;
}

.related-product div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.related-product p {
    margin-bottom: 5px;
}

/* Bottom Section (Product Description) */
.product-description {
    width: 100%;
    padding: 10px 20px;
    background-color: var(--foni);
    color: var(--textis-feri);
}

.product-description h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.product-description p {
    margin-bottom: 15px;
}

