@media (max-width: 1024px) {
    .product-page {
        flex-direction: column;
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-info {
        padding: 20px;
    }

    .related-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        padding: 20px;
    }

    .related-product {
        width: calc(50% - 10px);
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }

    .related-product img {
        width: 100px;
        height: 100px;
    }

    .product-info select {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .product-page {
        flex-direction: column;
        /* margin: 20px; */
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-info {
        margin: 20px 0;
        padding: 10px;
    }

    .related-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        padding: 20px;
    }

    .related-product {
        width: calc(50% - 10px);
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }

    .related-product img {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .product-page {
        flex-direction: column;
        /* margin: 10px; */
    }

    .product-image {
        width: 100%;
        height: auto;
    }

    .product-info {
        margin: 10px;
        padding: 10px;
    }

    .product-page {
        flex-direction: column;
        margin: 0;
    }

    .related-products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 0;
        padding: 20px;
    }

    .related-product {
        width: 100%;
        margin: 10px 0;
        flex-direction: column;
        align-items: center;
    }

    .related-product button {
        width: 170px;
    }

    .related-product img {
        width: 60px;
        height: 60px;
    }

    .product-info select {
        width: 100%;
    }
}