body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.section-title {
    text-align: center; /* ტექსტის გაცენტრება */
    margin: 50px 0;
    font-size: 28px;
    font-weight: bold;
}

.product-cards {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important; /* 3 სვეტი */
    gap: 30px;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.product-card {
    background-color: #f2f2f2 !important;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 100%;
    max-width: 170px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 15px;
}
